.game{

    background-color: burlywood;
    border: dotted black;
    margin: 50px;
    height: 500px;
    width: 500px;
}

.box{
    display: inline-block;
    border: solid black 1px;
    height: 50px;
    width: 50px;


}

.player{
    transform: translateY(225px);
    background-color: chartreuse;
    animation: move 4s infinite linear ;
    animation-play-state: paused;
    


}
.game:active .player{

    animation-play-state: running;
}
.enemy{
    background-color: blue;
    margin-left: 100px;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.enemy.one{
    animation-duration: 3s;
}

.enemy.two{
    animation-duration: 5s;
}

@keyframes bounce{
    50%{
        transform: translateY(450px);
    }
}
@keyframes move{
    50%{
        transform: translateY(225px)  translateX(450px);
    }


}